.wannabe-container {
    height: 300px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    font-family: var(--montserrat);
    color: black;
    padding-left: 20px;
    padding-top: 20px;
}

.wannabe-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
   padding-left: 10%;
   
}
.wannabe-text p {
    background-color: var(--second);
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 50%;

}

.wannabe-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.wannabe-img img {
    height: 200px;
    width: 200px;
    margin-left: -300px;
}
.wannabe-btn {
    padding: 20px 30px;
    background: var(--fourth);
    width: 220px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: 250px;
}

.wannabe-btn a {
    color: white;
}

@media only screen and (max-width: 600px) {
    .wannabe-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .wannabe-text {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-top: 10px;
    }

    .wannabe-text p {
        width: 80%;
        border-radius: 10px;
        padding: 20px;
        color: white;    
        margin-top: 10px;
    }
    .wannabe-btn {
        padding: 20px 30px;
        background: var(--fourth);
        width: 80%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    .wannabe-img {
        margin-left: 68%;
    }
    
}
