.profile-container {
    margin-top: 150px;
    margin-left: 20%;
    width: 70%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;   
}

.heroes-exit img{
    height: 50px;
    width: 50px;
    margin-left: 90%;
}

.profile-container .profile-main-container {
    width: 350px;
    height: 100%;
    border-radius: 5px;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
}

.no-hero-container {
    padding: 20px;
    display: flex;
    width: 70%;
    justify-content: space-around;
    height: 500px;
}
.no-hero-container img{
    height: 300px;
    width: 300px;
}

.progress-bar {
    width: 400px;
    border-radius: 10px;
    background: rgb(185, 181, 181);
    height: 30px;
    margin-left: -100px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.current-progress {
    width: 10px;
    background: yellow;
    height: 20px;
    border-radius: 10px;

}

.no-hero-text {
    display: flex;
    flex-direction: column;
}



.my-blog-published-container-profile {
    margin-left: 20%;
    font-family: var(--montserrat);
    
}

.no-hero-text {
    font-size: 23px;
    font-weight: bold;
}

.no-hero-text p {
    background: rgba(5, 162, 63, 0.627);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.profile-main-container .profile-avatar-container {
    height: 60%;
    width: 100%;
    
}

.no-hero-text .create-hero-btn {
    background-color: var(--fourth);
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
}

.profile-avatar-container img {
    height: 100%;
    width: 100%;
}

.profile-metrics-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
}

.profile-id-container {
    font-family: var(--montserrat);
    color: gray;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.profile-id-container p {
    font-weight: bold;
    padding: 5px;
}

.profile-id-container .profile-id {
    color: var(--first);
    font-size: 20px;
}


.profile-data-container {
    display: flex;
    font-family: var(--montserrat);
    justify-content: space-between;
    margin-top: 20px;
}

.profile-data-item {
    height: 50%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--montserrat);
}

.profile-data-item i {
    font-size: 40px;
    color: var(--fourth);
    margin-bottom: 10px;
    cursor: pointer;
}


.profile-personal-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat);
    padding: 20px;
    background: #eee;
    border-radius: 10px;
    margin-left: 20px;
}

.profile-personal-item-container {
    height: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile-personal-text {
    color: var(--fourth);
}

.profile-personal-items {
    padding: 10px;
}

.profile-personal-item {
    font-weight: 600;
    font-size: 18px;
    margin-top: 5px;
}

.profile-personal-item span {
    color: var(--fourth);
    font-weight: bold;
}

.profile-personal-about-container {
    height: 30%;
    width: 100%;
}

.profile-personal-about-container p{
    height: 100%;
    margin-top: 20px;
    width: 120%;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    background-color: var(--fourth);
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.profile-edit {
    margin-left: 80%;
    margin-top: 10%;
    background-color: var(--fifth);
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.profile-edit a {
    color: white;
    font-family: var(--montserrat);
   
}

.create-hero-container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 150vh;
    width: 110%;
    background: rgba(0, 0, 0, 0.729);
    z-index: 999;
}

.create-hero-container-wrapper .create-hero-container {
   position: absolute;
    top: 100px;
    left: 10%;
   height: 800px;
    width: 70%;
    font-family: var(--montserrat);
}

.create-hero-container .choose-hero-container {
    color: white;
}


.card {
    position: relative;
    width: 200px;
   
    height: 200px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0, 0, 0.5);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
  
  .card .face p {
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 0.5em rgb(28, 248, 112);
  }
  .card .face {
    font-family: 'Permanent Marker', cursive;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: translate(-50%, -50%);
      transition: 0.25s;
  }
  
  .card .face img {
    height: 170px;
    width: 170px;
  }
  
  .card:hover .face {
    opacity: 0;
  }
  
  
  .card .content {
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    text-align: center;
    transition: 0.25s;
    transform: translateY(100px);
    opacity: 0;
  }
  
  .card .content h3 {
  
    font-size: 22px;
    font-weight: 700;
    color:rgb(37, 196, 232);
  }
  .card .content p {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 700;
    color:rgb(215, 53, 247);
  }
  
  .card .content a {
    font-size: 25px;
    border-radius: 2rem;
    background: rgb(56, 120, 214);
    color: white;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 20px;
    transition: 0.2s;
  }
  
  .card .content a:hover {
    background-color: white;
    color: rgb(56, 120, 214);
    border : 1px solid rgb(56, 120, 214);
  }
  
  .card:hover .content {
    transform: translateY(0);
    opacity: 1;
  }

  .heroes-container {
      display: flex;
      width: 110%;
      flex-wrap: wrap;
      height: auto;
  }



  .star-img {
    height: 20px;
    width: 20px;
}
