.evlist-container {
    margin-top: 130px;
    margin-left: 10%;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat);
    padding-top: 20px;
}


.evlist-container h1 {
    font-size: 40px;
}
.evlist-card-container {
    height: auto;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.evlist-item-container {
    height: 350px;
    width: 550px;
    border-radius: 10px;
    border: 3px solid var(--fifth);
    display: flex;
    flex-direction: row;
    padding: 15px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

.evlist-item-container .evlist-img-con {
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evlist-img-con img {
    width: 95%;
    height: 95%;
    border-radius: 20px;
    margin-left: -20px;
}
.evlist-text-con {
    width: 50%;
    height: 100%;
}
.evlist-item-container .evlist-text-con h3{
    margin-top: 10px;
    width: 100%;
    color: var(--fifth);
    text-align: center;
}

.evlist-text-con .event-desc-l {
    max-width: 100%;
    padding: 10px;
    overflow-wrap: break-word;
    height: auto;
}