.evpage-container {
    margin-top: 130px;
    margin-left: 10%;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat);
    padding-top: 20px;
    background: white;
}

.evpage-card-container {
    height: auto;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}