.slider-container {
    margin-top: 130px;
    width: 80%;
    height: 60vh;
    border-radius: 10px;
    margin-left: 10%;
    border: 1px solid var(--first);
    overflow: hidden;
}

.slides-container {
    width: 500%;
    height: 60vh;
    display: flex;
}

.slides-container input {
    display: none;
}

.slide {
    width: 20%;
    transition: 1s;
}

.slide img {
    width: 100%;
    height: 60vh;
}

.navigation {
    position: absolute;
    width: 60%;
    display: flex;
    height: 50px;
    margin-top: 62vh;
    margin-left: 8%;
    justify-content: center;
}

.manual-btn {
    cursor: pointer;
    border: 2px solid var(--first);
    border-radius: 50%;
    transition: 1s ease-in; 
    height: 23px;
    width: 23px;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: gold;
}

#radio1:checked ~ .first {
    margin-left: 0;
} 

#radio2:checked ~ .first {
    margin-left: -20%;
} 

#radio3:checked ~ .first {
    margin-left: -40%;
} 

#radio4:checked ~ .first {
    margin-left: -60%;
} 



@media only screen and (max-width: 600px) {
    .slide {
        margin-left: 0;
        background: red;
    }
}
